{% define "title" %}Login{% end %}

{% define "head-addon" %}
{% end %}

{% define "content" %}

	<app data-csrf-token="{%.csrf_token%}" data-error-message="{%.error%}"></app>

{% asset "login.js" %}

{% end %}
