{% define "title" %}Login{% end %}

{% define "content" %}

	{% with .csrf_token %}
		<input type="hidden" id="csrf-token" value="{%.%}" />
	{% end %}

	{% with .error %}
		<input type="hidden" id="error-message" value="{%.%}" />
	{% end %}

<app></app>

{% asset "login.js" %}

{% end %}
